* {
    font-family: Arial, Sans-serif;
}

body {
    background-color: #202124;
}

#icong {
    width: 38%;
    margin: 28px;
    background-color: transparent !important;
}

img {
    background-color: white;
    height: 10%;
    width: 10%;
    float: right;
}

hr.solid {
    border-top: 1px solid #3a3b41;
}

p {
    margin-left: 180px;
    font-size: 14px;
    color: #bdc1c6
}

h2 {
    margin-left: 180px;
    color: white;
}

a {
    text-decoration: none;
    color: #8ab4f8;
}

h2 a {
    font-size: 20px;
}

h1 {
    font-size: 28px;
    font-weight: 500;
    color: #bdc1c6
}