@font-face {
    font-family: Corporative Sans Rounded Regular;
    src: url("../fonts/CorporativeSansRd-Regular.woff2") format('woff2');
}

body {
    background-image: linear-gradient(
        45deg,
        hsl(241deg 83% 66%) 0%,
        hsl(222deg 94% 60%) 49%,
        hsl(210deg 100% 50%) 63%,
        hsl(207deg 100% 50%) 70%,
        hsl(204deg 100% 50%) 74%,
        hsl(201deg 100% 49%) 77%,
        hsl(198deg 100% 48%) 79%,
        hsl(194deg 100% 46%) 82%,
        hsl(191deg 100% 45%) 88%,
        hsl(189deg 73% 51%) 100%
      );

      font-family: Corporative Sans Rounded Regular;
}

html {
    height: 100%;
}

* {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.navbar {
    display: flex;
    justify-content: space-around; 
    padding: 10px 0;
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
    align-items: center;
}

.navbar li {
    display: inline;
    margin-right: 30px;
}

.navbar li:first-child {
    display: inline;
    padding-right: 400px;
}

.navbar button {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    padding: 6px 20px;
}

.navbar button:hover {
    cursor: pointer;
}