@font-face {
    font-family: Corporative Sans Rounded Regular;
    src: url("../fonts/CorporativeSansRd-Thin.woff2") format('woff2');
}

:root {
    --text-color: white;
    --hyperlink-color: silver;
    --input-color: rgb(238, 238, 238);
    --table-bg: white;
    --button-color: #1E81FF;
    --pricing-btcolor: #00CA4D;
    --end-color: #F1F4FB;
}

body {
    background-image: linear-gradient(
        45deg,
        hsl(241deg 83% 66%) 0%,
        hsl(222deg 94% 60%) 49%,
        hsl(210deg 100% 50%) 63%,
        hsl(207deg 100% 50%) 70%,
        hsl(204deg 100% 50%) 74%,
        hsl(201deg 100% 49%) 77%,
        hsl(198deg 100% 48%) 79%,
        hsl(194deg 100% 46%) 82%,
        hsl(191deg 100% 45%) 88%,
        hsl(189deg 73% 51%) 100%
      );
      font-family: Corporative Sans Rounded Regular;
}

html {
    height: 130%;
}

.navbar {
    display: flex;
    justify-content: space-around; 
    padding: 10px 0;
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
    align-items: center;
}

.navbar a, .navbar button {
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar li {
    display: inline;
    margin-right: 30px;
}

.navbar li:first-child {
    display: inline;
    padding-right: 400px;
}

.navbar button {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    padding: 6px 20px;
    font-weight: normal;
}

.navbar button:hover {
    cursor: pointer;
}

.pricing h1 {
    color: var(--text-color);
    font-weight: normal;
    font-size: 60px;
    margin-block-end: 0;
}

.pricing {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

.pricing p {
    color: var(--text-color);
    font-size: 18px;
    line-height: 30px;
}

.pricing a {
    text-decoration: none;
    color: var(--hyperlink-color);
}

.pricingbg {
    background-color: var(--table-bg);
    font-weight: normal;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

.pricingbg form {
    margin: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
}

.pricingbg form input {
    margin: 1px 0px 1px 0px;
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgba(200, 200, 200, 0.5);
    background-color: var(--input-color);
    border-radius: 10px;
    width: 90%;
    margin-bottom: 20px;
}

.pricingbg form select, .pricingbg form input[type="submit"] {
    margin: 1px 0px 1px 0px;
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgba(200, 200, 200, 0.5);
    background-color: var(--input-color);
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.pricingbg form input[type="submit"] {
    background-color: var(--button-color);
    color: var(--text-color);
    border-radius: 25px;
    box-shadow: 0px 10px 23px 0px rgba(114,164,255,1);
    -webkit-box-shadow: 0px 10px 23px 0px rgba(114,164,255,1);
    -moz-box-shadow: 0px 10px 23px 0px rgba(114,164,255,1);
}

.text input[type="submit"] {
    margin-bottom: 250px;
    font-family: 'Kanit', sans-serif;
    background-color: var(--pricing-btcolor);
    color: var(--text-color);
    border-radius: 20px;
    border: 0px;
    padding: 10px 30px 10px 30px;
}

.bgcolor {
    background-color: var(--end-color);
    width: 100%;
    height: 50vh;
    position: absolute;
    margin-top: 50px;
    padding: 0;
    left: 0;
    clip-path: polygon(0 40%, 100% 0, 100% 100%, 0% 100%);
}