h1 {
    text-align: center;
}

body {
    height: 842px;
    width: 795px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, sans-serif;
}

a:hover {
    color: darkorange;
}